@media (prefers-color-scheme: dark) {
	html {
		filter:invert(100%);
		-moz-filter: invert(100%);
		-webkit-filter: invert(100%);
	}
}
body {
	font-size:1.2rem;
	padding-top:2rem;
	background-color:white;
}
h1 { font-size:2rem; }
h2 { font-size:1.8rem; }
caption, h3 { text-align:left; font-size:1.4rem; }
h1, h2, table {
	margin-bottom:0.5rem;
}
h3 {
	margin:0.5rem;
}
h1, h2, h3, caption {
	color: #0088FF;
}
table {
}
td {
	padding:0.5rem;
}

ul, ol, li {
	margin:0.5rem;
}

blockquote {
	margin-top:0.5rem;
	margin-bottom:0.5rem;
	background-color:rgb(220, 220, 220);
}
pre {
	font-size:2rem;
	padding: 1rem;
}

input {
	width: 50%;
}

.button,
button {
	background-color: transparent;
	border:none;
	color: #9b4dca;
	padding:0;
	margin:0;
	margin-right:2rem;
	margin-bottom:1rem;
}

.button:hover,
button:hover {
	background-color: transparent;
	color: #0088FF;
}

p {
	margin-bottom:0px;
}

.copied {
	color: #9b4dca;
	font-size: 1.2rem;
	font-weight:bold;
	text-transform: uppercase;
	text-align: right;
	margin-top: 2rem;
}

.alert-overlay {
	position: fixed;
	display:flex;
	justify-content: center;
	align-items: center;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background-color: white;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.alert-content {
	width: fit-content;
	max-width:96%;
	height: fit-content;
	max-height:96%;
	padding: 4rem;
	background-color: #EEEEEE;
	overflow-y:auto;
	cursor: default;
}

.alert-content > .title {
	font-size:1.8rem;
	font-weight:bold;
}

.close-button {
	position: absolute;
	cursor: default;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	font-size:1.6rem;
	font-weight:bold;
	top:2rem;
	right:3rem;
	color: #9b4dca;
}

.close-button:hover {
	color:#0088FF;
}

.card {
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	margin-bottom:1rem;
}

.card-content {
	padding:0 1rem;
}

.hide {
	display: none;
}

.roll-display {
	display:flex;
	margin-bottom:2rem;
	cursor: default;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dice-result {
	width: 40px;
	height: 40px;
	text-align:center;
	line-height:40px;
	font-size: 4rem;
	font-weight:bold;
	color: #0088FF;
	margin: 1rem;
}

.die {
	width: 40px;
	height: 40px;
	text-align:center;
	line-height:31px;
	font-size: 4rem;
	font-weight:bold;
	background-color: #9b4dca;
	color: white;
	margin: 1rem;
}

.random-num-container {
	display:flex;
}

.result-display {
	display:flex;
	flex-direction:column;
	font-size:1.6rem;
}

.result-display > .item {
	display:flex;
	flex-flow: wrap column;
	padding:1rem;
}

.result-display > .item > .label {
	text-transform: capitalize;
	font-weight: bold;
	font-size: 1.8rem;
	color: #0088FF;
}

.result-display > .item  > .value {
	padding-left:1rem;
	color:black;
}
