@media (prefers-color-scheme: dark) {
	html {
		filter:invert(100%);
		-moz-filter: invert(100%);
		-webkit-filter: invert(100%);
	}
}

body {
	background-color:white;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type="file"] {
}

textarea {
	margin-bottom:0;
}

.button,
button {
	background-color: transparent;
	color:#9b4dca;
	margin:0;
	height:100%;
	border:none;
	padding:0 1rem;
}

.button:hover,
button:hover {
	background-color:transparent;
	color:#0088FF;
}

.container {
	max-width:120rem;
}


select {
	margin-bottom:0;
}
.select-container {
	display:grid;
	grid-template-columns: 19rem 1fr;
	align-items: center;
	margin: 0 1rem;
}

.stress-label,
.select-label,
.input-label,
.refresh-label,
.skill-label {
	text-transform: uppercase;
	font-size:1.2rem;
}

.select-label {
	margin-left:1rem;
}

.labeled-input-container {
	display:grid;
	grid-template-columns: 12rem 1fr;
	align-items: center;
}

.input-label {
	text-align: right;
	padding:0 1rem;
}

.labeled-input-container > input {
	margin-bottom:0;
}

.title {
	font-size:1.8rem;
	color:#0088FF;
	text-transform:capitalize;
	margin-right:1rem;
}

.section-container {
	display: flex;
	flex-direction: column;
}

.section-header {
	display:flex;
	align-items: center;
}

#section-menu > .section-header {
	justify-content: space-between;
}

@media only screen and (max-width:600px) {
	#section-menu > .section-header {
		flex-direction: column;
	}

	.select-container {
		display:flex;
		flex-direction: column;
	}
}

.section-content {
	padding:1rem;
}

.skill-container,
.refresh-input-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	justify-content: center;
	align-items: center;
	width:16rem;
}

.skill-label {
	margin-left:1rem;
}

.refresh-label {
	margin:0 1rem;
}

.refresh-input,
.skill-input {
	margin-bottom:0;
	font-size:1.8rem;
	font-weight:bold;
	color: #9b4dca;
	text-align:center;
}

#section-skills > .section-content {
	display:flex;
	flex-flow: wrap row;
}

#section-character > .section-content {
	display:flex;
	flex-direction: column;
}

#section-character > .section-content > .labeled-input-container {
	grid-template-columns: 6rem 1fr;
}

#section-character > .section-content > .labeled-input-container > .input-label {
}

.refresh-container {
	display:flex;
	width:100%;
	justify-content: flex-end;
}

.stunt-container {
	display: grid;
	grid-template-columns: 2fr 8rem;
	margin: 1rem 0;
}

.stunt-inputs > .labeled-input-container > input {
	font-size:1.4rem;
	font-weight:bold;
}

.stress-container {
	margin:1rem;
	margin-bottom:2rem;
}

.stress-checkbox-container {
	display:flex;
	justify-content:space-between;
}

.checkbox {
	width: 2rem;
	height: 2rem;
	border: 1px solid #9b4dca;
	background-color:transparent;
}

.checkbox.selected {
	background-color: #0088FF;
}
.checkbox.unselected {
	background-color:transparent;
}
.checkbox.disabled {
	border: 1px solid rgb(209, 209, 209);
	background-color:transparent;
}
